body{
background-color: #040404;}
.x{
    margin:10% 0%  ;
    
}
.kl.lm{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s;
}
.kl:hover {
    box-shadow: 0 0 10px #29d9d5;
}
.lm:hover .content {
    transform: translateX(0);
}

.p:hover{
    transform: scale(1.4);
    transition: 1s;
}.o:hover{
    transform: scale(1.4);
    transition: 1s;
}
.m:hover{
    transform: scale(1.4);
    transition: 1s;
}
.tr:hover{
    transform: scale(1.4);
    transition: 1s;
}
.l:hover{
    transform: scale(1.4);
    transition: 1s;
}
.j:hover{
    transform: scale(1.4);
    transition: 1s;
}
h1{
color: aqua;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 900;
font-size: 30px;
display: inline-block;
padding-left: 9%;
padding-bottom: 3%;
}
h1:hover{
transform: scale(1.3);
transition: 0.7s ;}
.photo{
    background-color: rgb(22, 67, 52);
    height: 7%;
    
}
 a{
 float: right;
 padding-left: 9%;
padding-top: 3%; 
text-decoration: none;
color: red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
 a:hover{color: #100101;

}

    

.m{
    padding-left: 6%;
}
.o{
padding-left: 6%;
}
.l{
    padding-left: 6%;
}
.k{
    padding-left: 6%;
}
.j{
    padding-left: 6%;

}
.yasser{
    padding-top: 10%;
    padding-left: 40%;
}
nav{
    display: flex;
    justify-content: center;
    margin-left: 7%;

}
nav a{
    color: red;
    padding-left: 9%;
    text-decoration: none;
    font-size: 20px;
font-weight: 900;
background: hsl(36, 24%, 52%);
border-radius: 12px;
padding: 0% 2% 0% 0%;
margin: 0% 7% 0% 0%;
text-align: center;
}
.zz{
    padding-left: 20px;
}
.ee{
    padding-left: 20px;
  
}
.rr{
    padding-left: 20px;

}
.tt{
    padding-left: 20px;

}
.yy{
    padding-left: 20px;

}
nav a:hover{
    display: block;
    background:rgb(30, 24, 16);
    color: aquamarine;
    transform: scale(1.9);
    transition: 0.3s;
}
p{
    background: black;
    height: 3%;
    display: flex;
    justify-content: center;
    margin-top: 100%;
    color: red;
    font-size: 1000;
font-weight: 900;
font-style: oblique;
font-family: 'Times New Roman', Times, serif;
}
